.button-color {
    background-color: steelblue;
    color: #ffffff;
}

.ans {
    text-align: left;
    display: block;
    align-content: center;
    width: fit-content;
}

.header {
    padding-top: 2em;
}

.centeredRow {
    text-align: center;
    display: block;
}